body {
    margin: 0;
    font-family: poppins, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: #efb140;
    width: 100%;
    gap: 15px;
    font-size: larger;
}

.logo {
    width: 60px;
    height: 60px;

}
